body {
    font-family: "Source Serif 4", serif;
    margin: 0;
    padding: 0;
    background-color: #CCB7AE;
    color: white;
}

footer {
    display: flex;
    background-color: #031927;
    font-family: "Source Serif 4", serif;
    position: fixed;
    font-size: medium;
    width: 100%;
    bottom: 0;
    color: white;
    margin-bottom: 0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to top, #031927 80%, rgba(51, 51, 51, 0)) no-repeat;
    justify-content: center;
}

/* text */
h2 {
    margin-bottom: 9px;
    padding: 0;
    font-family: "Source Serif 4", serif;
}

h3 {
    margin: 1px;
    padding: 0;
}

h4 {
    font-size: x-large;
    margin: 0;
    padding: 0;
}

p {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
/* text */


header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size:x-large;
    background-color: #031927;
    position: relative;
    background: linear-gradient(to bottom, #031927 90%, rgba(51, 51, 51, 0)) no-repeat;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#tabs {
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;

    #featured-button {
        display: flex;
        justify-content: right;
        color: white;
        gap: 20px;
        align-items: center;
        font-family:"Source Serif 4", serif;
        font-size: large;
        
        background-color:#CCB7AE;
        border-radius: 15px;
        padding: 9px;

        transition: 0.2s all;
    }

    #featured-button:hover {
        cursor: pointer;
        transform: scale(0.90);
    }

    #all-button{
        display: flex;
        justify-content: right;
        color: white;
        gap: 20px;
        align-items: center;
        font-family:"Source Serif 4", serif;
        font-size: large;
        
        background-color:#CCB7AE;
        border-radius: 15px;
        padding: 9px;

        transition: 0.2s all;
    }

    #all-button:hover {
        cursor: pointer;
        transform: scale(0.90);
    }
}

button {
    display: flex;
    background-color: transparent;
    border: 0;
    padding:0;
    cursor: pointer;
}

#playlist-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 20px 50px;
    padding: 80px;
 
    > * {
    width: calc(350px - 1px); 
    }

    .playlist-name {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        #bottomButtons {
            display: flex;
            flex-direction: row;
            gap: 140px;
            margin-top: 20px;
        }
    }

    .playlist {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 25px;
        background-color: #636B61;
        border-radius: 25px;
        font-family: "Source Serif 4", serif;
        font-size: large;
        width: 200px;

        
        .heart-button{
            display: flex;
            height: 20px;
            font-size: larger;
        }

        #like-counter {
            color: white;
            font-size: medium;
            font-family:"Source Serif 4", serif;
        }

        .deleteButton {
            display: flex;
            height: 20px;
            width: 20px;
        }
    }

    .playlist:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #636B61;
    transform: scale(1.01);
}
}


@media only screen and (max-width: 600px) {
    #site-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        #tabs {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    #playlist-body {
        display: grid;
        grid-template-columns: repeat(1, 350px);
    }
}


.popup {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   flex-wrap: wrap;

   .popup-content {
        background-color: #636B61;
        margin: 15% auto;
        padding: 20px;
        width: 80%;
        border-radius: 25px;
        color: black;
        display: flex;
        flex-direction: column;
        max-width: 800px;
    }

    .popup-header {
        font-family: "Source Serif 4", serif;
        color: white;
        font-size: large;
        display: flex;
        flex-direction: column;
        line-height: 120%;

        #onlyHeader {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 4px;
        }

        #buttonInfo {
            color: white;
            gap: 20px;
            font-family:"Source Serif 4", serif;
            font-size: medium;
            border: 0;
            
            background-color:#CCB7AE;
            border-radius: 15px;
            padding: 8px;

            transition: 0.2s all;
        }

        #buttonInfo:hover {
            cursor: pointer;
            transform: scale(0.90);
        }

        #right {
            padding: 10px;
        }

        .shuffle-button {
            display: flex;
            margin-top: 10px;
            justify-content: flex-start;
        }
    }
}


img {
    border-radius: 10px;
    max-width: 100%;
    /* height: auto; */
}

.allSongs {
    overflow: scroll;
    height: 400px;

    .song {
    display: flex;
    background-color:#CCB7AE;
    color: black;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 1px;
    height: 110px;

    .songImage {
        display: flex;
        border-radius: 100px;
        padding: 10px;
    }

    .songDetails {
        display: flex;
        flex-direction: column;
        font-size: small;
    }
}
}

.close {
   color: #CCB7AE;
   float: right;
   font-size: 28px;
   font-weight: bold;
   margin-left: auto;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#featured-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: xx-large;
}