body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0a7a7;
    color: white;
}

footer {
    background-color: maroon;
    width: 100%;
    bottom: 0;
    color: maroon;
    height: 100px;
    margin-bottom: 0;
}

/* text */
h2 {
    margin-bottom: 9px;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    margin: 1px;
    padding: 0;
}

h4 {
    font-size: x-large;
    margin: 0;
    padding: 0;
}

p {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
/* text */


header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size:x-large;
    border: solid black 1px;
    background-color: maroon;
}

#tabs {
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;

    #featured-button {
        display: flex;
        justify-content: right;
        color: white;
        gap: 20px;
        align-items: center;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: large;
        
        background-color:#e0a7a7;
        border-radius: 15px;
        padding: 9px;

        transition: 0.2s all;
    }

    #featured-button:hover {
        cursor: pointer;
        transform: scale(0.90);
    }

    #all-button{
        display: flex;
        justify-content: right;
        color: white;
        gap: 20px;
        align-items: center;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: large;
        
        background-color:#e0a7a7;
        border-radius: 15px;
        padding: 9px;

        transition: 0.2s all;
    }

    #all-button:hover {
        cursor: pointer;
        transform: scale(0.90);
    }
}

button {
    display: flex;
    background-color: transparent;
    border: 0;
    padding:0;
    cursor: pointer;
}

#playlist-body {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    column-gap: 1px;
    row-gap: 50px;
    place-items: center;
    place-content: center;
    padding: 110px;

    .playlist-name {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .playlist {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: solid black 1px;
        padding: 25px;
        background-color: maroon;
        border-radius: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        width: 200px;
        height: auto;
        

        .heart-button{
            display: flex;
            height: 20px;
            font-size: larger;
        }

        #like-counter {
            color: white;
            font-size: medium;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }

}

@media only screen and (max-width: 600px) {
    #site-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        #tabs {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    #playlist-body {
        display: grid;
        grid-template-columns: repeat(1, 350px);
    }
}


.popup {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.4);
   flex-wrap: wrap;

   .popup-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 25px;
        color: black;
        display: flex;
        flex-direction: column;
        max-width: 800px;
    }

    .popup-header {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
        font-size: large;
        display: flex;
        flex-direction: column;
        line-height: 120%;

        #onlyHeader {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 4px;
        }

        #buttonInfo {
            color: white;
            gap: 20px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: medium;
            border: 0;
            
            background-color:#e0a7a7;
            border-radius: 15px;
            padding: 8px;

            transition: 0.2s all;
        }

        #buttonInfo:hover {
            cursor: pointer;
            transform: scale(0.90);
        }

        #right {
            padding: 10px;
        }

        .shuffle-button {
            display: flex;
            margin-top: 10px;
            justify-content: flex-start;
        }
    }
}


img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.allSongs {
    overflow: scroll;
    height: 400px;

    .song {
    display: flex;
    background-color:#ececec;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 1px;
    height: 110px;

    .songImage {
        display: flex;
        border-radius: 100px;
        padding: 10px;
    }

    .songDetails {
        display: flex;
        flex-direction: column;
        font-size: small;
    }
}
}


.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   margin-left: auto;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#featured-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: xx-large;
}